server {
        listen 80;
        server_name {{ nginx_wp_domain }};
        # enforce https
        return 301 https://$server_name$request_uri;
}
server {
        listen 443 ssl http2;
        server_name {{ nginx_wp_domain }};
        ssl_certificate {{ nginx_wp_domain_ssl_certificate }};
        ssl_certificate_key {{ nginx_wp_domain_ssl_certificate_key }};
        return 301 https://$server_name$request_uri;
}
server {
        listen 443 ssl http2;
        server_name {{ nginx_wp_domain }};
        root {{ nginx_wp_domain_root }};

        ssl_certificate {{ nginx_wp_domain_ssl_certificate }};
        ssl_certificate_key {{ nginx_wp_domain_ssl_certificate_key }};

        index index.php;

        access_log /var/log/nginx/{{ nginx_wp_domain }}.log;
        error_log /var/log/nginx/{{ nginx_wp_domain }}.error.log;

        # Default server block rules
        #include defaults.conf; # Some default security rules that I use for all my vhosts
        #include rocket-nginx/default.conf; #This contains nginx rules for WP-Rocket caching wordpress plugin
        location / {
            try_files $uri $uri/ /index.php?$args;
        }


        location ~ \.php$ {
            try_files $uri =404;
            include fastcgi_params;
            fastcgi_pass unix:/run/php/php7.0-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        # Block DDOS attacks
        #location = /xmlrpc.php {
        #deny all;
        #return 403;
        #}
}
